.switch {
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  width: 46.6px;
  height: 20px;
  display: inline-block;
}
.switch input {
  display: none;
}
.switch .label {
  margin-left: 120%;
}
/* Rounded background */
.switch .pseudo::before {
  content: '';
  position: absolute;
  width: 46.6px;
  height: 20px;
  background: grey;
  border-radius: 20px;
}
/* Rounded background (green) */
.switch input:checked + .pseudo::before {
  background: #51e058;
}
/* Common stuff */
.switch .pseudo::before,
.switch input:checked + .pseudo::before {
  transition: all 0.3s;
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3);
}
/* Knob (off) */
.switch .pseudo::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 0;
  transform: translateX(15%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
/* Knob (on) */
.switch input:checked + .pseudo::after {
  transform: translateX(177%);
}
