@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(211, 233, 193, 1);
}

.card {
  max-width: 400px;
  max-height: 800px;
  min-height: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  background: rgba(140, 201, 109, 1);
  width: 216px;
  height: 45px;
  left: 145px;
  top: 207px;
}

.link-button {
  background: rgba(140, 201, 109, 1);
}

.link-button-back {
  background: red;
}
