@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(211, 233, 193, 1);
}

.card {
  max-width: 400px;
  max-height: 800px;
  min-height: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-button {
  background: rgb(140, 201, 109);
  background: linear-gradient(
    180deg,
    rgba(140, 201, 109, 1) 0%,
    rgba(71, 142, 35, 1) 100%
  );
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.324);
  padding: 10px 70px;
  border-radius: 200px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link-button-back {
  background: red;
}
