@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(211, 233, 193, 1);
  margin: 0;
}

.app-wrapper {
  display: flex;
  justify-content: center;
}

.app-inner {
  max-width: 400px;
  width: 100%;
}

.card {
  max-width: 400px;
  max-height: 800px;
  min-height: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-button {
  background: rgb(140, 201, 109);
  background: linear-gradient(
    180deg,
    rgba(140, 201, 109, 1) 0%,
    rgba(71, 142, 35, 1) 100%
  );
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.324);
  padding: 10px 70px;
  border-radius: 200px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link-button-back {
  background: red;
}

.input {
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.input-wrapper {
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 0 15px;
}

.input-wrapper.input-wrapper-to {
  margin-top: 15px;
}

.location-button {
}

.time-buttons {
  background: rgba(0, 0, 0, 0.25);
  margin: 50px;
}

.time-and-date {
  background: rgba(0, 0, 0, 0.25);
  margin: 50px;
}

.map-img {
  background: rgba(0, 0, 0, 0.25);
}

.link-button-choose {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 15px;
  justify-content: center;
}
